body {
  background-color: greenyellow;
  height: 200vh;
}

//@media (min-width: 1000px) {
//  body {
//    background-color: deeppink;
//
//  }
//}

.fas.fa-truck {
  font-size: 50px;
  background-color: red;
  //font-family: ;
}

img {
  width: 100px;
  height: 100px;
}

h2 {
  background-color: deepskyblue;
  padding: 50px;
  margin: 10px;
}

.tooltip {
  background-color: deeppink;
}