<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xTest-Webpack</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>

<div class="top-bar">
  <div class="top-bar__buy-project">
      <i class="fas fa-drafting-compass"></i>
      <p>Lorem ipsum dolor.</p>
  </div>
  <div class="top-bar__gratis">
    <div class="top-bar__gratis__send center">
      <i class="fas fa-truck"></i>
      <p>Lorem ipsum.</p>
    </div>
    <div class="top-bar__gratis__accessories center">
      <i class="fas fa-gift"></i>
      <p>Lorem ipsum dolor.</p>
    </div>
    <div class="top-bar__gratis__low-price center">
      <i class="fas fa-hand-holding-usd"></i>
      <p>Lorem ipsum dolor.</p>
    </div>
  </div>
</div>

<script src="main.bundle.js"></script>
</body>

</html>
