<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xTest-Webpack</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>

<input class="inputStyle" type="text" id="correctClass" placeholder="enter className">
<input class="inputStyle" id="resultClassName" placeholder="result class for css">
<input class="inputStyle" id="resultToLowerCase" placeholder="result text to lower case">

<h4>check is string is equal</h4>
<input class="inputStyle equal check-string-1" type="text" placeholder="enter text 1">
<input class="inputStyle equal check-string-2" type="text" placeholder="enter text 2">
<button class="btn btn-check-string">Are strings is equal?</button>

<div class="modal">copy to clipard</div>

<script src="main.bundle.js"></script>
</body>

</html>
