<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xTest-Webpack</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi autem consequuntur iusto nemo neque nihil
  saepe, voluptatem? Cupiditate deleniti error in inventore magnam magni nemo nostrum odio perferendis unde.<a href="">example-link-1</a>Ea
  ex illo iure molestiae nesciunt officiis optio praesentium. Assumenda, cumque eaque enim laudantium modi molestias
  sequi velit veniam. Amet atque debitis dolorem laborum molestiae neque praesentium quidem quos velit?<a href="">example-link-22222222222222</a>Amet
  beatae consequuntur doloribus excepturi illum ratione voluptates. Adipisci asperiores, consectetur debitis dignissimos
  doloremque ea excepturi id itaque laborum magni maiores neque possimus provident, quasi qui quia recusandae, tempora.
  Harum.<a href="">example-link-3</a>Alias, at atque debitis delectus, deleniti eius et eum id illum maxime nemo
  quisquam quod saepe suscipit tempora tempore, voluptatibus? Atque fugit itaque repudiandae! Beatae eveniet modi
  similique ut voluptates.<a href="">example-link-4</a>Culpa doloribus, itaque laudantium natus nihil odit provident
  soluta. Amet animi eaque iste odio officia perspiciatis quidem quis sit velit voluptatum. Consequatur consequuntur
  iste labore nulla officia possimus temporibus ut.<a href="">example-link-5</a></p>

<script src="main.bundle.js"></script>
</body>

</html>


<!--Digital root is the recursive sum of all the digits in a number.-->

<!--Given n, take the sum of the digits of n. If that value has more than one digit, continue reducing in this way until a single-digit number is produced. The input will be a non-negative integer.-->


<!--RESULT-->
<!--16  &ndash;&gt;  1 + 6 = 7-->
<!--942  &ndash;&gt;  9 + 4 + 2 = 15  &ndash;&gt;  1 + 5 = 6-->
<!--132189  &ndash;&gt;  1 + 3 + 2 + 1 + 8 + 9 = 24  &ndash;&gt;  2 + 4 = 6-->
<!--493193  &ndash;&gt;  4 + 9 + 3 + 1 + 9 + 3 = 29  &ndash;&gt;  2 + 9 = 11  &ndash;&gt;  1 + 1 = 2-->



<!--https://www.codewars.com/kata/541c8630095125aba6000c00/train/javascript-->